@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-top: 50px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="color"]){ /* inputs são inline */
    width: 50%;
}

fieldset {
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    }